<div class="article-fixed-width">
	<div class="article-header-container">
		<h6 class="article-header-date">Декабрь 2018</h6>
		<div class="article-header-text-container">
			<div class="article-subheader-wrapper">
				<h5 class="article-subheader">Список необходимых запасов для успешной перезимовки.</h5>
			</div>
			<h1 class="article-header">Winter is coming: <br>
			 Собираем идеальный уход <br>
			 к холодам</h1>
		</div>
		<h5 class="article-header-author">Виктория Аракелян</h5>
 <img src="/local/templates/cosmo/img/winter-is-coming-header_TXT.jpg" alt="" class="article-header-image">
	</div>
	<div class="article-simple-text-container">
		<p class="article-text">
			 Скажем прямо: зима это далеко не самое лучшее, что случается с нашей кожей. Отопительный сезон, обветренные губы, тусклый цвет лица и трещинки на руках от беспощадного мороза – в общем, приятного мало.
		</p>
	</div>
	<div class="article-simple-text-container">
		<p class="article-text">
			 Мы собрали для вас небольшую подборку средств, которые особенно хороши в холодное время года.
		</p>
	</div>
	<div class="article-image-standard-width">
 <img src="/local/templates/cosmo/img/OLEN_620x110.jpg" alt="" class="article-image">
	</div>
	<div class="article-header-thin-container">
		<h2 class="article-header-thin">ЛИЦО</h2>
	</div>
	<div class="article-product-left">
		<div class="catalog-elem-container">
			<div class="catalog-image-wrapper">
 <img alt="Очищающее антивозрастное масло для лица" src="/upload/iblock/bf7/bf7c156bafb82b9b1c92a0c4e7c91395.jpg" class="catalog-elem-img">
				<div class="catalog-more-and-buy-container">
					<div class="catalog-more-and-buy-subcontainer">
						<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/skincare/ochishchayushchee-antivozrastnoe-maslo-dlya-litsa.html">
							Подробнее </a>
							<form class="add-to-basket" method="post">
 <input type="hidden" name="id" value="3064"> <input type="hidden" name="price" value="3650"> <input type="hidden" name="priceid" value="728"> <input type="hidden" name="qty" value="1"> <button id="add-to-cart-button" name="button" type="submit" class="add catalog-more-and-buy-btn" value="add-to-cart">
								В корзину </button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<h5 class="catalog-brand-name"> <a href="/brands/patyka-cosmetics/">Patyka Cosmetics</a> </h5>
			<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">3 650</span> ₽</h5>
			<h5 class="catalog-element-description">Очищающее антивозрастное масло для лица</h5>
		</div>
	</div>
	<div style="margin-top: 0;" class="article-subheader-bold-container">
		<h4 class="article-subheader-bold">Patyka Очищающее антивозрастное масло для лица</h4>
	</div>
	<div style="margin-bottom: 0;" class="article-simple-text-container">
		<p class="article-text">
			 Масло для лица – это один из лучших вариантов очищения в любое время года, но для зимы ему и вовсе нет равных. Используйте его как первый этап умывания или, когда ваша кожа особенно сухая или раздраженная, как единственный. В средстве Patyka – питательный микс масел кунжута, шиповника, абрикосовых косточек и витамина Е, а для снятия раздражения и воспалений в него добавили бисаболол. Помимо полезных свойств состава, у такого вида очищения есть и еще одно преимущество: его можно (и нужно!) сочетать с массажем для лица. <a href="http://www.youtube.com/watch?v=8-OKVq0BH0Q&t=169s">Советуем попробовать технику звездного косметолога Су Ман</a><a href="http://www.youtube.com/watch?v=8-OKVq0BH0Q&t=169s">.</a>
		</p>
	</div>
	<div class="article-product-right">
		<div class="catalog-elem-container" id="bx_3966226736_6686">


				
				<div class="catalog-image-wrapper">
					<img src="/upload/iblock/6e8/6e82b88abb44b43dc8e984ea3826aa84.jpg" alt="Сыворотка для лица POTENT-C" class="catalog-elem-img">
					<div class="catalog-more-and-buy-container">
						<div class="catalog-more-and-buy-subcontainer">
							<div class="catalog-more-and-buy-links-container">
								<a class="catalog-more-and-buy-btn" href="/catalog/skincare/syvorotka-dlya-litsa-potent-c.html">
									Подробнее								</a>
																	<form class="add-to-basket" method="post">
										<input type="hidden" name="id" value="6686">
										<input type="hidden" name="price" value="9500">
										<input type="hidden" name="priceid" value="3056">
										<input type="hidden" name="qty" value="1">
										<button id="add-to-cart-button" name="button" type="submit" class="add catalog-more-and-buy-btn" value="add-to-cart">
											В корзину										</button>
									</form>
															</div>
						</div>
					</div>
				</div>

				<h5 class="catalog-brand-name">
					<a href="/brands/peter-thomas-roth/">PETER THOMAS ROTH</a>				</h5>

				<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">9 500</span> ₽</h5>
								<h5 class="catalog-element-description">Сыворотка для лица POTENT-C</h5>

			</div>
	</div>
	<div style="margin-top: 20px;" class="article-subheader-bold-container">
		<h4 class="article-subheader-bold">Peter Thomas Roth сыворотка с витамином С Potent-C</h4>
	</div>
	<div class="article-simple-text-container">
		<p class="article-text">
			 Вопреки распространенному заблуждению, витамин С не поможет вам ни предотвратить простуду, ни вылечить. Несмотря на это, он все еще может быть очень полезен для вас зимой – в качестве компонента ухода за кожей. Витамин С помогает бороться с серым и тусклым цветом лица, осветляет пигментные пятна и помогает в борьбе с преждевременным старением кожи (вызванным, как правило, солнечными лучами). Эта сыворотка Peter Thomas Roth содержит очень стабильную форму витамина С – THD-аскорбат. Стабильность витамина С напрямую влияет на его долговечность и эффективность; некоторые формы очень быстро окисляются, и становятся скорее вредными, чем полезными. Феруловая кислота в составе усиливает действие витамина С и обеспечивает дополнительную антиоксидантную поддержку.
		</p>
	</div>
	<div class="article-product-left">
		<div class="catalog-elem-container">
			<div class="catalog-image-wrapper">
 <img alt="Антиоксидантное масло &quot;Бораго, шиповник и крушина&quot;" src="/upload/iblock/ae7/ae78461433c126e060a508d8690ff618.jpg" class="catalog-elem-img">
				<div class="catalog-more-and-buy-container">
					<div class="catalog-more-and-buy-subcontainer">
						<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/skincare/antioksidantnoe-maslo-quot-borago-shipovnik-i-krushina-quot.html">
							Подробнее </a>
							<form class="add-to-basket" method="post">
 <input type="hidden" name="id" value="3716"> <input type="hidden" name="price" value="3500"> <input type="hidden" name="priceid" value="1380"> <input type="hidden" name="qty" value="1"> <button id="add-to-cart-button" name="button" type="submit" class="add catalog-more-and-buy-btn" value="add-to-cart">
								В корзину </button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<h5 class="catalog-brand-name"> <a href="/brands/grown-alchemist/">Grown Alchemist</a> </h5>
			<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">3 500</span> ₽</h5>
			<h5 class="catalog-element-description">Антиоксидантное масло "Бораго, шиповник и крушина"</h5>
		</div>
	</div>
	<div class="article-subheader-bold-container">
		<h4 class="article-subheader-bold">Grown Alchemist <br>
		 Антиоксидантное масло <br>
		 «Бораго, шиповник и крушина»</h4>
	</div>
	<div class="article-simple-text-container">
		<p class="article-text">
			 Еще одно антиоксидантное средство – смесь масел от австралийского органик-бренда Grown Alchemist. Заявленную функцию выполняют масла шиповника, бораго, облепихи и сладкого миндаля. Этот пузырёк направлен больше на питание и увлажнение, но в то же время предоставляет достойную защиту от свободных радикалов. Вариантов применения – масса: наносите плотным слоем на ночь, добавляйте по капле в тональное средство, устраивайте анти-эйдж массаж руками или гаджетами. В период особой засухи, используйте его как окклюзивное средство: наносите последним этапом после основного ухода (например, после сыворотки с кремом) для «запечатывания» влаги в коже (да, так можно.)
		</p>
	</div>
	<div class="article-product-right">
		<div class="catalog-elem-container">
			<div class="catalog-image-wrapper">
 <img alt="Маска для лица с энзимами тыквы" src="/upload/iblock/db3/db3c840d762003d00fbf70859c4cdff2.jpg" class="catalog-elem-img">
				<div class="catalog-more-and-buy-container">
					<div class="catalog-more-and-buy-subcontainer">
						<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/skincare/maska-dlya-litsa-s-enzimami-tykvy.html">
							Подробнее </a>
						</div>
					</div>
				</div>
			</div>
			<h5 class="catalog-brand-name"> <a href="/brands/peter-thomas-roth/">PETER THOMAS ROTH</a> </h5>
			<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">5 900</span> ₽</h5>
			<h5 class="catalog-element-description">Маска для лица с энзимами тыквы</h5>
		</div>
	</div>
	<div class="article-subheader-bold-container">
		<h4 class="article-subheader-bold">Peter Thomas Roth Энзимная маска</h4>
	</div>
	<div style="margin-bottom: 0;" class="article-simple-text-container">
		<p class="article-text">
			 Маска, способная вернуть человеческий облик даже в самый противный, холодный и пасмурный день. Энзимы тыквы в тандеме с молочной кислотой эффективно отшелушивают кожу – она становится обновленной и сияющей. Текстура и аромат маски бодрят и согревают. Используйте такое средство для поднятия настроения, вечернего релакса в ванной или перед важным мероприятием: маска прекрасно подготовит кожу для макияжа.
		</p>
	</div>
	<div style="margin-top: 20px;" class="article-simple-text-container">
		<p class="article-text">
			 Рекомендуем наносить ее на 5-7 минут: этого будет вполне достаточно для превращения из тыквы в карету!
		</p>
	</div>
	<div class="article-subheader-bold-container">
		<h4 class="article-subheader-bold">Clark’s Botanicals Deep Moisture mask</h4>
	</div>
	<div class="article-simple-text-container">
		<p class="article-text">
			 Еще одно мульти-функциональное средство: увлажняющая маска Clark’s Botanicals.
		</p>
	</div>
	<div class="clearfix">
	</div>
	<div class="article-product-left">
		<div class="catalog-elem-container">
			<div class="catalog-image-wrapper">
 <img alt="Увлажняющая маска для лица" src="/upload/iblock/17f/17fb841accb1fae15281136affdf8fef.jpg" class="catalog-elem-img">
				<div class="catalog-more-and-buy-container">
					<div class="catalog-more-and-buy-subcontainer">
						<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/skincare/uvlazhnyayushchaya-maska-dlya-litsa.html">
							Подробнее </a>
							<form class="add-to-basket" method="post">
 <input type="hidden" name="id" value="4217"> <input type="hidden" name="price" value="5500"> <input type="hidden" name="priceid" value="1881"> <input type="hidden" name="qty" value="1"> <button id="add-to-cart-button" name="button" type="submit" class="add catalog-more-and-buy-btn" value="add-to-cart">
								В корзину </button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<h5 class="catalog-brand-name"> <a href="/brands/clark-s-botanicals/">Clark's Botanicals</a> </h5>
			<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">5 500</span> ₽</h5>
			<h5 class="catalog-element-description">Увлажняющая маска для лица</h5>
		</div>
	</div>
	<div class="article-simple-text-container">
		<p class="article-text">
			 Ее можно использовать как классическую маску, нанося щедрый слой на 10-15 минут, а можно оставлять тонким слоем на ночь, чтобы проснуться с напитанной и сияющей кожей. Спать в ней абсолютно комфортно – нежная «взбитая» текстура совсем не жирная и не оставляет следов на подушке, а тонкий аромат жасмина только способствует сладким снам. В составе – растительные экстракты (жасмин, зеленый чай, водоросли), водоудерживающие сахариды и витамин Е.
		</p>
	</div>
    	<div class="article-image-standard-width">
 <img src="/local/templates/cosmo/img/YOLKA_620x110.jpg" alt="" class="article-image">
	</div>
	<div style="margin-top: 90px;" class="article-header-thin-container">
		<h2 class="article-header-thin">ВОЛОСЫ</h2>
	</div>
	<div class="article-subheader-bold-container">
		<h4 class="article-subheader-bold">Шампунь Zenology Sycamore Fig</h4>
	</div>
	<div class="clearfix">
	</div>
	<div class="article-simple-text-container">
		<p class="article-text">
			 Волосы зимой страдают не меньше кожи, поэтому и для них есть смысл подобрать щадящий и увлажняющий уход. В качестве первого этапа прекрасно подойдет этот шампунь от Zenology – в нем гидролизованный коллаген, пантенол и экстракт алоэ. Эти компоненты питают и восстанавливают волосы, не высушивая кожу головы. Шампунь оставляет на волосах легкий и изысканный аромат инжирного дерева.
		</p>
	</div>
	<div style="margin-bottom: 45px;" class="article-subheader-bold-container">
		<h4 class="article-subheader-bold">Питательный набор Grown Alchemist</h4>
	</div>
	<div class="article-simple-text-container">
		<p class="article-text">
			 Идеальный дуэт для зимнего ухода за волосами – питательный набор от Grown Alchemist. Эти баночки очень богаты растительными экстрактами: флавоноиды Дамасской розы и азулены из эфирного масла ромашки успокаивают и увлажняют кожу головы, а ликопин из помидоров, экстракты лаванды и зеленого чая обеспечивают здоровый блеск и мягкость волос.
		</p>
	</div>
	<div class="article-product-container-one-row">
		<div class="article-product-container-one-row-wrapper">
			<div class="catalog-elem-container">
				<div class="catalog-image-wrapper">
 <img alt="Восстанавливающий кондиционер для волос Sycamore Fig" src="/upload/iblock/73c/73cfa25e789d2d9d717d1bb4f8d280cd.jpg" class="catalog-elem-img">
					<div class="catalog-more-and-buy-container">
						<div class="catalog-more-and-buy-subcontainer">
							<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/haircare/vosstanavlivayushchiy-konditsioner-dlya-volos-sycamore-fig.html">
								Подробнее </a>
								<form class="add-to-basket" method="post">
 <input type="hidden" name="id" value="5434"> <input type="hidden" name="price" value="3700"> <input type="hidden" name="priceid" value="2112"> <input type="hidden" name="qty" value="1"> <button id="add-to-cart-button" name="button" type="submit" class="add catalog-more-and-buy-btn" value="add-to-cart">
									В корзину </button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<h5 class="catalog-brand-name"> <a href="/brands/zenology/">Zenology</a> </h5>
				<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">3 700</span>
				₽</h5>
				<h5 class="catalog-element-description">Восстанавливающий кондиционер для волос Sycamore Fig</h5>
			</div>
			<div class="catalog-elem-container">
				<div class="catalog-image-wrapper">
 <img alt="Набор для волос питательный" src="/upload/iblock/c26/c268aa34375c8ad0bd6c771d0c441d89.jpg" class="catalog-elem-img">
					<div class="catalog-more-and-buy-container">
						<div class="catalog-more-and-buy-subcontainer">
							<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/nabori-podarki/nabor-dlya-volos-pitatelnyy.html">
								Подробнее </a>
							</div>
						</div>
					</div>
				</div>
				<h5 class="catalog-brand-name"> <a href="/brands/grown-alchemist/">Grown Alchemist</a> </h5>
				<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">2 350</span>
				₽</h5>
				<h5 class="catalog-element-description">Набор для волос питательный</h5>
			</div>
		</div>
		<div class="article-subheader-bold-container">
			<h4 class="article-subheader-bold">Кондиционер Hemp Care</h4>
		</div>
		<div class="article-simple-text-container">
			<p class="article-text">
				 Это – отличный питательный кондиционер на основе конопляного масла. Кстати, конопляное масло богато олеиновой и линолевой кислотой, что делает его не только прекрасным компонентом для ухода, но и отличной опцией для приема внутрь – восполнение недостатка жирных кислот в диете непременно скажется на состоянии кожи и волос, особенно в зимнее время. Кондиционер Hemp Care также содержит масла оливы, жожоба и гидролизованный кератин. Попробуйте иногда использовать его как маску – наносите щедрым слоем на 5-10 минут.
			</p>
		</div>
		<div class="article-subheader-bold-container">
			<h4 class="article-subheader-bold">Маска для волос Iles Formula</h4>
		</div>
		<div class="article-simple-text-container">
			<p class="article-text">
				 Простите нас за клише, но это – буквально Роллс-Ройс в мире масок для волос. Если вам кажется, что ваши волосы уже ничем не спасти, просто попробуйте использовать эту маску один раз в неделю. Наносите ее не только на длину, но и на корни, массажными движениями распределяя по коже головы. Масла семян пракакси, богатое насыщенной бегеновой кислотой, «запирает» влагу в волосе, масло тукума питает (и особенно
			</p>
		</div>
		<div class="article-product-container-one-row">
			<div class="article-product-container-one-row-wrapper">
				<div class="catalog-elem-container">
					<div class="catalog-image-wrapper">
 <img alt="Кондиционер для волос" src="/upload/iblock/b2d/b2da06bece8923f180c9b60d80e1c73c.jpg" class="catalog-elem-img">
						<div class="catalog-more-and-buy-container">
							<div class="catalog-more-and-buy-subcontainer">
								<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/haircare/konditsioner-dlya-volos.html">
									Выбрать объем </a>
								</div>
							</div>
						</div>
					</div>
					<h5 class="catalog-brand-name"> <a href="/brands/hemp-care/">Hemp Care</a> </h5>
					<h5 class="catalog-element-price"> от <span class="catalog-element-inner-price-container">1 990</span>
					₽</h5>
					<h5 class="catalog-element-description">Кондиционер для волос</h5>
				</div>
				<div class="catalog-elem-container">
					<div class="catalog-image-wrapper">
 <img alt="Маска для волос" src="/upload/iblock/989/989c27d11f5161f9afe36fa2a89ffada.jpg" class="catalog-elem-img">
						<div class="catalog-more-and-buy-container">
							<div class="catalog-more-and-buy-subcontainer">
								<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/haircare/maska-dlya-volos.html">
									Подробнее </a>
									<form class="add-to-basket" method="post">
 <input type="hidden" name="id" value="5500"> <input type="hidden" name="price" value="6500"> <input type="hidden" name="priceid" value="2178"> <input type="hidden" name="qty" value="1"> <button id="add-to-cart-button" name="button" type="submit" class="add catalog-more-and-buy-btn" value="add-to-cart">
										В корзину </button>
									</form>∏
								</div>
							</div>
						</div>
					</div>
					<h5 class="catalog-brand-name"> <a href="/brands/iles-formula/">Iles Formula</a> </h5>
					<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">6 500</span>
					₽</h5>
					<h5 class="catalog-element-description">Маска для волос</h5>
				</div>
			</div>
			<div class="article-simple-text-container">
				<p class="article-text">
					 подходит обладательницам вьющихся волос), пантенол и витамин Е успокаивают и увлажняют кожу головы, а протеины шелка делают волосы невероятно гладкими и блестящими.
				</p>
			</div>
			<div class="article-simple-text-container">
				<p class="article-text">
					 Если ваши волосы не очень сухие, использовать эту маску можно и вовсе раз в месяц – в качестве роскошной и эффективной спа-процедуры.
				</p>
			</div>
            <div class="article-image-standard-width">
 <img src="/local/templates/cosmo/img/YOLKA_SNEJINKA_620x110.jpg" alt="" class="article-image">
			</div>
			<div class="article-header-thin-container">
				<h2 class="article-header-thin">ТЕЛО</h2>
			</div>
			<div class="article-subheader-bold-container">
				<h4 class="article-subheader-bold">Bakel Efabody</h4>
			</div>
			<div class="article-simple-text-container">
				<p class="article-text">
					 Если любой увлажняющий и питательный крем, который вы пробовали, для вас недостаточно увлажняющий и питательный, у вас просто не было Bakel Efabody. Этот плотный, масляный бальзам решит проблему сухости, придаст коже упругость и моментально сделает ее напитанной и сияющей. Не удивительно, ведь состав собрал в себя все возможные масла – аргановое, хлопковое, кокосовое, масло бергамота, пальмы, сквален… Кроме того, здесь целый комплекс насыщенных жирных кислот и стимулирующих эфирных масел. И все это богатство имеет тонкий аромат лимонного пирога. Есть ли у этого бальзама хоть один недостаток? Похоже, нет.
				</p>
			</div>
			<div class="article-subheader-bold-container">
				<h4 class="article-subheader-bold">Malin+Goetz Набор vitamin b5 hand treatment trio (Бергамот+Миндаль+Герань)</h4>
			</div>
			<div class="article-simple-text-container">
				<p class="article-text">
					 Защитный крем с пантенолом M+G не нуждается в представлении, но мы все же напомним вам о нем – тем более теперь можно приобрести сразу набор. Один поселите у себя на туалетном столике, другой закиньте в сумку, а третий подарите близкому человеку. Крем быстро впитывается, не содержит традиционных масел, воска и силиконов – он питает кожу благодаря жирным кислотам и натуральному витамину B5.
				</p>
			</div>
			<div class="article-product-container-one-row">
				<div class="article-product-container-one-row-wrapper">
					<div class="catalog-elem-container">
						<div class="catalog-image-wrapper">
 <img alt="Бальзам для тела повышающий упругость Efabody" src="/upload/iblock/47c/47c63a2a967437467e5e6ae3ea86281d.jpg" class="catalog-elem-img">
							<div class="catalog-more-and-buy-container">
								<div class="catalog-more-and-buy-subcontainer">
									<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/skincare/balzam-dlya-tela-povyshayushchiy-uprugost-efabody.html">
										Подробнее </a>
										<form class="add-to-basket" method="post">
 <input type="hidden" name="id" value="3111"> <input type="hidden" name="price" value="9500"> <input type="hidden" name="priceid" value="775"> <input type="hidden" name="qty" value="1"> <button id="add-to-cart-button" name="button" type="submit" class="add catalog-more-and-buy-btn" value="add-to-cart">
											В корзину </button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<h5 class="catalog-brand-name"> <a href="/brands/bakel/">Bakel</a> </h5>
						<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">9 500</span>
						₽</h5>
						<h5 class="catalog-element-description">Бальзам для тела повышающий упругость Efabody</h5>
					</div>
					<div class="catalog-elem-container">
						<div class="catalog-image-wrapper">
 <img alt="Набор vitamin b5 hand treatment trio" src="/upload/iblock/097/097ca13544702f2dc6fbda8a71f641bc.jpg" class="catalog-elem-img">
							<div class="catalog-more-and-buy-container">
								<div class="catalog-more-and-buy-subcontainer">
									<div class="catalog-more-and-buy-links-container">
 <a class="catalog-more-and-buy-btn" href="/catalog/skincare/nabor-vitamin-b5-hand-treatment-trio.html">
										Подробнее </a>
										<form class="add-to-basket" method="post">
 <input type="hidden" name="id" value="5447"> <input type="hidden" name="price" value="2900"> <input type="hidden" name="priceid" value="2125"> <input type="hidden" name="qty" value="1"> <button id="add-to-cart-button" name="button" type="submit" class="add catalog-more-and-buy-btn" value="add-to-cart">
											В корзину </button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<h5 class="catalog-brand-name"> <a href="/brands/malin-goetz/">Malin+Goetz</a> </h5>
						<h5 class="catalog-element-price"> <span class="catalog-element-inner-price-container">2 900</span>
						₽</h5>
						<h5 class="catalog-element-description">Набор vitamin b5 hand treatment trio</h5>
					</div>
				</div>
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
</div>
 <br>