<section class="row-fluid">
  <div class="container-fluid">
    <div class="row header-bg header-bg-show">
      <div class="col text-center  header-content-position">
        <a href="https://898.tv/97000" class="button-main-set button-semi-dark-purple header-help-btn" role="button"><img class="help-button-icon" src="/wp-content/uploads/2017/10/help-icon.svg">Кнопка помощи</a>
      </div>
      <div class="col text-center  header-content-position header-phone-number">
        <a href="#" class="phone-number" role="button">+7 499 707 71 79</a>
      </div>
      <div class="col-12 header-nav">
          [maxmegamenu location=main_menu]
      </div>
      <!-- <div class="col-12 text-center  header-content-position header-logo">
      </div> -->
      <div class="height-fullscreen">
      </div>
    </div>
  </div>
</section>
<section class="row-fluid">
  <div class="container-fluid">
    <div class="test">

    </div>
  </div>
</section>

<!-- ------------------FOOTER------------------------------- -->
<div class="footer-sets">
  <div class="footer-container">
    <div class="footer-col ">
      <h5 class="footer-header">Сервера и Сети</h5>
      <a class="footer-list-item">Установка серверных ОС</a>
      <a class="footer-list-item">Мониторинг и резервирование</a>
      <a class="footer-list-item">MikroTik и RoS</a>
      <a class="footer-list-item">Виртуализация</a>
      <a class="footer-list-item">"Облачные" технологии</a>
    </div>  
    <div class="footer-col ">
      <h5 class="footer-header">Физ и Юр лицам</h5>
      <a class="footer-list-item">Консультации и обучение</a>
      <a class="footer-list-item">CRM / ERP системы, интеграция</a>
      <a class="footer-list-item">1C, учет, бизнес-процессы</a>
      <a class="footer-list-item">Управление печатью</a>
      <a class="footer-list-item">Уменьшение затрат на связь, роуминг</a>
      <a class="footer-list-item">"Срочный" интернет</a>
      <a class="footer-list-item">Подбор оборудования и ПО</a>
    </div>
    <div class="footer-col ">
      <h5 class="footer-header">WEB</h5>
      <a class="footer-list-item">Сервера, приложения, сайты</a>
      <a class="footer-list-item">Помощь с сайтом</a>
      <a class="footer-list-item">Аудит, тех. задания</a>
      <a class="footer-list-item">Online трансляции, видеопорталы</a>
    </div>
    <div class="footer-col ">
      <h5 class="footer-header">Связь</h5>
      <a class="footer-list-item">VoIP севера и клиенты</a>
      <a class="footer-list-item">Биллинг, авто обзвон, транспорт</a>
      <a class="footer-list-item">Wi-Fi сети и роуминг</a>
      <a class="footer-list-item">VPN, объединение офисов</a>
    </div>
    <div class="copyrights-container">
      <p class="copyrights">© 2017 ЭргономикС. All Rights Reserved.</p>
    </div>
  </div>
</div>
