@font-face {
  font-family: 'Marske';
  src: url('/wp-content/themes/bb-theme/fonts/Marske.eot');
  src: url('/wp-content/themes/bb-theme/fonts/Marske.eot?#iefix') format('embedded-opentype'),
      url('/wp-content/themes/bb-theme/fonts/Marske.woff2') format('woff2'),
      url('/wp-content/themes/bb-theme/fonts/Marske.woff') format('woff'),
      url('/wp-content/themes/bb-theme/fonts/Marske.ttf') format('truetype'),
      url('/wp-content/themes/bb-theme/fonts/Marske.svg#Marske') format('svg');
  font-style: normal;
}

@font-face {
	font-family: 'Circe-regular';
	src: url('/wp-content/themes/bb-theme/fonts/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Regular.woff') format('woff'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-extralight';
	src: url('/wp-content/themes/bb-theme/fonts/Circe-ExtraLight.eot');
	src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
		url('/wp-content/themes/bb-theme/fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/bb-theme/fonts/Circe-ExtraLight.woff') format('woff'),
		url('/wp-content/themes/bb-theme/fonts/Circe-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-thin';
	src: url('/wp-content/themes/bb-theme/fonts/Circe-Thin.eot');
	src: local('Circe Thin'), local('Circe-Thin'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Thin.woff') format('woff'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-light';
	src: url('/wp-content/themes/bb-theme/fonts/Circe-Light.eot');
	src: local('Circe Light'), local('Circe-Light'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Light.woff') format('woff'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-bold';
	src: url('/wp-content/themes/bb-theme/fonts/Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Bold.woff') format('woff'),
		url('/wp-content/themes/bb-theme/fonts/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-extrabold';
	src: url('/wp-content/themes/bb-theme/fonts/Circe-ExtraBold.eot');
	src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
		url('/wp-content/themes/bb-theme/fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/bb-theme/fonts/Circe-ExtraBold.woff') format('woff'),
		url('/wp-content/themes/bb-theme/fonts/Circe-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

html, body, count, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, small, sub, b, dl, dd, dt, ul, li, label, article, details, footer, header, menu, nav, input, select, td, textarea, th {
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: geometricPrecision;
  text-transform: initial !important;
  font-family: "Circe-regular" !important;
}

/* ALL p-element margin reset */
p {
  margin: 0 !important;
}

/* JS Animation classes settings*/
.anim {
  transition: all 1s ease-in-out;
}

.active {
  transform: translateY(25px);
  opacity: 1;
}

.notactive {
  transform: translateY(0px);
  opacity: 0;

}


/* -----------------------BUTTONS-SETTINGS----------------- */
/* Main buttons setting for how they look */
.button-main-set {
    line-height: 2em;
    padding: .2em 1em;
    border: 2px solid transparent;
    border-radius: 9px;
    width: auto;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.button-semi-dark-purple {
  color: white;
  background: rgba(168,47,94,1);
  font-size: 1.2em;
}

.button-semi-dark-purple:hover {
    color: rgba(168,47,94,1);
    background: white;
    border: 2px solid rgba(168,47,94,1);
}


/* -------------------------HEADER------------------------ */
/* Header's child block height */
.height-fullscreen {
  height: calc(100vh - 100px);
}

/* Makes conatiner height be the same as content */
.container-content-height {
  height: fit-content;
}

/* Header buttons and logo position from top */
.header-content-position {
  top: 10px;
}

/* Header container fix for bg */
.header-bg {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  background: white;
}

/* Header background on main container (row in this case) */
/*.header-bg:before {
  content: '';
  background: url(/wp-content/uploads/2017/12/9700-bg.svg) white top/100% no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .8s ease-in-out;
  transform: translateY(20%);
  z-index: -1;
}*/

.header-background-row .fl-row-content-wrap {
  background-position: top;
  background-size: 100%;
}

@media (max-width: 991px) {
  .header-background-row .fl-row-content-wrap {
    background: white;
  }

  .help-button, .phone-number {
    width: 100%;
    text-align: center !important;
  }

  .help-button .fl-button-wrap, .phone-number .fl-button-wrap {
    text-align: center !important;
  }

  .help-button {
    left: 0 !important;
  }

  .phone-number {
    right: 0 !important;
    top: 4em;
  }

  .header-menu-container {
    top: 4em;
    position: relative;
  }

  #mega-menu-wrap-bar .mega-toggle-block {
    float: left !important;
  }

  .mobile-logo-header img {
    width: 45vh;
    position: relative;
    top: 5em;
}
}

@media (max-width: 991px) and (orientation: landscape) {
  .header-background-row .fl-row-content-wrap {
    background: white;
  }
}

/* Bringing main menu back behind header on Home page */
.home .fl-page {
  padding: 0 !important;
}

.home header {
  z-index: 0 !important;
}

header {
  position: fixed;
}



/*.header-bg-show.header-bg:before {
  opacity: 1;
  transform: translateY(0);
}*/

/* Header logo settings */
/*.header-logo {
  height: 15vmin;
  top: 10em;
  background: url('/wp-content/uploads/2017/10/9700-logo.png') center/contain no-repeat;
}*/

/* Header Help button settings */
/*.header-help-btn {
  position: absolute;
  left: 13%;
  width: auto;
}*/

/* Phone number display + positioning inside container */
/*.header-phone-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 13%;
    width: auto;
    font-size: 20px;
}*/

/* Help button & phone number positioning */
.help-button, .phone-number {
  position: absolute;
}

.help-button {
  left: 15%;
}

.phone-number {
  right: 15%;
}


/* Phone number item appearance */
.phone-number a span {
    color: rgba(168,47,94,1) !important;
    text-shadow: 0px 0px 4px transparent;
    transition: all .3s ease-in-out;
}

.phone-number a:hover span {
    color: white !important;
    text-shadow: 0px 0px 4px rgba(168,47,94,1);
    transition: all .3s ease-in-out;
}

/* Icon in "Help-button" */
/*.help-button-icon {
  height: 1em;
  width: 20px;
  margin-right: .5em;
  z-index: 9999;
  vertical-align: text-top;
  filter: drop-shadow(0px 0px 0.8px rgba(168,47,94,1));
}*/

/* Header's menu settings */
/* Header's menu container */
/*.header-nav {
  display: flex;
  top: 5em;
  margin: auto;
  justify-content: center;
}*/
/*#mega-menu-wrap-bar {
  width: 100%;
  top: 1em;
  background: transparent;
}*/

/* Font for header menu */
#mega-menu-bar > li > a, #mega-menu-header > li > a {
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: geometricPrecision;
  text-transform: initial !important;
  font-family: "Marske" !important;
}
/* Header's menu items settings */
/*#mega-menu-bar > li.mega-menu-item > a.mega-menu-link {
  height: 13px !important;
}*/

/* Item's settings */
/*.header-nav-item {
  padding: 0 2em;
}*/

/* Vertical stroke between items */
/*.header-nav-item:nth-child(n+2) {
  border-left: 2px solid;
}*/

/* Header submenu container settings */
.it-sol-row > .mega-sub-menu, .it-sol-row > ul {
  display: flex !important;
}

.mega-menu-item-has-children.mega-menu-grid > .mega-sub-menu {
  width: 80% !important;
  margin: auto !important;
  left: 10% !important;
}

#mega-menu-header .mega-menu-item-has-children.mega-menu-grid .mega-menu-row {
  position: absolute;
  padding-top: 8px;
}

#mega-menu-bar .mega-menu-item-has-children.mega-menu-grid .mega-menu-row {
  position: absolute;
  padding-top: 21.5px;
}

/*.it-solutions:hover ~ .it-sol-submenu, .it-sol-submenu:hover {
  opacity: 1;
  z-index: 1;
  transform: translateY(0px);
  transition: all .5s ease-in-out;
}*/

/* Header submenu columns settings */
.submenu-col {
  flex: 1 auto;
  padding: 20px;
  box-shadow: 7px 13px 80px -14px #000007 !important;
}

.submenu-col-orange {
  background: rgb(247, 108, 33) !important;
}

.submenu-col-ocean {
  background: rgb(0, 164, 210) !important;
}

.submenu-col-green {
  background: rgb(157, 190, 20) !important;
}

.submenu-col-blue {
  background: rgb(68, 199, 244) !important;
}

/* Header submenu items settings*/
a.submenu-item {
  line-height: 4em;
}

/* Main menu settings */
#mega-menu-wrap-header, #top-bar-nav, #top-bar-wrap {
  width: 100%;
}

/* Makes topbar sticky */
#top-bar-wrap {
  position: fixed;
  z-index: 1;
}

/* Mobile menu dropdown submenu settings */
@media (max-width: 991px) {
  .mega-menu-item-has-children.mega-menu-grid > .mega-sub-menu {
    width: 100% !important;
  }

  #mega-menu-bar .mega-menu-item-has-children.mega-menu-grid .mega-menu-row {
    position: relative;
    padding-top: 0 !important;
  }

  .it-sol-row > .mega-sub-menu, .it-sol-row > ul {
    flex-flow: row wrap;
  }

  .it-sol-row > .mega-sub-menu li, .it-sol-row > ul li {
    flex: 1 100%;
  }

  #mega-menu-bar .mega-menu-item-has-children.mega-menu-grid .mega-menu-row > .mega-sub-menu {
    box-shadow: unset !important;
  }

  #mega-menu-bar .mega-menu-item-has-children.mega-menu-grid > .mega-sub-menu {
    padding: 0 !important;
  }
}

/* -------------------------TEST------------------------ */
.test {
  height: 100vh;
}

/* -------------------------IFRAME-SPINNER------------------------ */
#helpframe {
  background: url(/wp-content/uploads/2017/12/Ripple.svg) center/30% no-repeat;
}

/* -------------------------FOOTER------------------------ */
/* Main footer container settings: bg, fullsize, flex-parent*/
.footer-sets {
  background-color: #222033;
}

.footer-container {
  display: flex;
  flex-flow: row wrap;
  color: white;
  max-width: 85%;
  margin: auto;
}

/* Footer columns settings in flexbox*/
.footer-col {
  width: 20%;
  margin: 60px auto;
}

/* All footer headers settings*/
.footer-header {
  margin: 0 0 1em;
  color: white;
}

/* Footer items settings */
.footer-list-item {
  display: flex;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 0;
}


/* Copyrights container*/
.copyrights {
  width: 100%;
}

.copyrights-container {
  width: 100%;
  margin: 2em 0 0;
  text-align: center;
}

@media (max-width: 991px) {
  .footer-sets {
    position: relative;
    z-index: 1;
  }

  .footer-list-item {
    font-size: 18px;
  }

  .footer-col {
    width: 100%;
  }
}
