


/* ---------------------------- HEADER SETTINGS ---------------------------- */

/* Disable standard header (no trigger to disbale by hand) */
#masthead {
    display: none;
}

/* ---------------------------- TOPIC BUTTONS' SECTION ---------------------------- */
.topic-button .elementor-button-link {
    height: 10em;
    width: 10em;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    border: 0px solide transparent;
}

.topic-button .elementor-button-link:hover {
    background-color: white !important;
    transform: scale(1.1);
}

/* Topic buttons */
#accounting-services {
    background-color: #8897b9;
}

#individual-tax-return {
    background-color: #af88b9;
}

#business-tax-return {
    background-color: #d59acb;
}

#payroll {
    background-color: #ec9f83;
}

#irs-representation {
    background-color: #cdb274;
}

#managerial-accounting {
    background-color: #88b999;
}

/* Hover states */
#accounting-services:hover {
    border: 5px solid #8897b9;
    color: #8897b9;
}

#individual-tax-return:hover {
    border: 5px solid #af88b9;
    color: #af88b9;
}

#business-tax-return:hover {
    border: 5px solid #d59acb;
    color: #d59acb;
}

#payroll:hover {
    border: 5px solid #ec9f83;
    color: #ec9f83;
}

#irs-representation:hover {
    border: 5px solid #cdb274;
    color: #cdb274;
}

#managerial-accounting:hover {
    border: 5px solid #88b999;
    color: #88b999;
}