/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

/* Site full-width */
.wrapper_inner {
	max-width: 100% !important;
}

/* ----------------------- HEADER ------------------------------------------ */
/* Disables paddings at menu */
header > .catalog_menu > .wrapper_inner, header > .catalog_menu > .wrapper_inner .inc_menu {
    padding: 0 !important;
}

#header {
    height: 120px;
}

/* Reassigns paddings for topmenu elements */
#header .catalogfirst li a {
    padding: 0 10px !important;
}

#header .wrapper_middle_menu.wrap_menu {
    height: 80px;
    background: white;
}

#header .inc_menu {
    display: flex;
    text-align: center;
    padding: 0 45px !important;
    box-shadow: 0px 5px 10px 0 #b7b7b7;
    z-index: 1;
}

#header .catalog_menu {
    z-index: 9;
    position: fixed;
    width: 100%;
}

#header .catalogfirst {
    height: 80px;
    flex: 3 33%;
    display: flex;
    align-items: flex-end;
}

#header .catalogfirst li, .header_wrap #header .catalog_menu.menu_colored .inc_menu ul.menu>li:not(.current):hover>a {
    background: white !important;
}

.header_wrap #header .catalog_menu ul.menu>li {
    height: auto !important;
    padding-bottom: 15px;
}

.header_wrap #header .catalog_menu ul.menu>li>a {
    color: #444444;
    text-transform: none;
    font-size: 18px;
    font-weight: 200;
}

#header .logo {
    flex: 3 33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#header .logo a {
    padding-bottom: 15px;
}

#header .logo img {
    max-width: 400px;
}

#header .auth-form {
    flex: 3 33%;
}

.auth-form .module-enter {
    height: 80px;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.auth-form .module-enter a {
    padding: 0 15px;
    color: #444444
}

.auth-form .module-enter a {
    font-size: 18px;
    padding-bottom: 15px;
}

.header-search-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    background: white !important;
    text-align: right;
}

.header-search-container input {
    width: 320px;
    background: white;
    border: none;
    padding-right: 45px;
    font-size: 18px;
    height: 40px;
}

.cart-button-container {
    height: 80px;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

a.cart-btn {
    font-size: 18px;
    padding: 0 15px 15px;
    color: #444444;
}


/* ------------------------------------------------------ MAIN PAGE ---------------------------------------------- */
/* --------------------------- TOP SLIDERS ------------------------------- */

.main-sliders-container {
    display: flex;
    padding: 20px 0 100px 0;
}

.main-sliders-container .top_slider_wrapp {
    width: 25%;
    margin: 0;
}

.main-sliders-container .top_slider_wrapp .slides li {
    width: 30vh;
    height: 30vh;
}

#main .right_block {
    padding: 0;
}

.wrapper_inner.front {
    padding: 0 45px;
}

.flexslider .slides>li .img, .flexslider .slides>li .text {
    width: 100%;
}


/* --------------------------- LAB GUIDES  ------------------------------- */

.labaratory-container {
    display: flex;
    justify-content: center;
    margin-bottom: 155px;
}

.labaratory-guide-container {
    margin: 0 35px;
}

.labaratory-guide-container > div {
    background: gainsboro;
    height: 39vmin;
    width: 39vmin;
}


/* --------------------------- ARTICLES ------------------------------- */

.bx-newsdetail-block {
    padding: 0;
    margin: 0;
    height: 67vmin;
    display: flex;
    flex-flow: row wrap;
}

.bx-newsdetail-title {
    flex: 1 100%;
    text-align: center;
    align-self: flex-end;
    font-size: 135px;
    font-weight: 200;
    line-height: 199px;
    max-width: 1450px;
    margin: 0 auto;
}

.bx-newsdetail-content {
    flex: 1 100%;
    text-align: center;
    font-size: 36px;
    line-height: 45px;
    font-weight: 200;
    max-width: 1500px;
    margin: 0 auto;
}

.bx-newsdetail-block a.readmore {
    flex: 1 100%;
    text-align: center;
    align-self: flex-end;
    border: 1px solid #b7b7b7;
    max-width: 200px !important;
    margin: 0 auto;
    padding: 10px 70px;
    font-size: 18px;
}

/* --------------------------- PODBORKA ------------------------------- */

.podborka-container .news-list {
    display: flex;
    padding-top: 155px;
    justify-content: center;
}

.podborka-container .news-item {
    display: flex;
    flex-flow: row wrap;
    max-width: 50vmin;
    padding: 0 45px;
}

.podborka-container .news-item a[href^="/podborka/"] {
    flex: 1 100%;
    max-width: 50vmin;
}

.podborka-container .news-item a[href^="/podborka/"] img {
    height: 50vmin;
    width: 50vmin;
    flex: 1 100%;
}

.podborka-container .news-item a[href^="/podborka/"] b {
    font-size: 18px;
    font-weight: 200;
    line-height: 40px;
}