/* FOR DEV*/
* {
    font-family: PT Sans Narrow;
}

/* END OF DOR DEV */





.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 229, 229, .75);
}

.popup-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20%;
    max-width: 430px;
    height: auto;
    background-color: #ffffff;
}

.popup-close {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 15px;
    height: 15px;
    width: 15px;
}

.popup-close:before {
    content: '';
    height: 0px;
    width: 100%;
    position: absolute;
    border: 1px solid #000000;
    transform: translate(-5%, 300%) rotate(45deg);
}

.popup-close:after {
    content: '';
    height: 0px;
    width: 100%;
    position: absolute;
    border: 1px solid #000000;
    transform: translate(-5%, 300%) rotate(-45deg);
}

.popup-white-btn:after,
.popup-white-btn:before {
    border: 1px solid #ffffff;
}


.popup-info {
    padding: 40px;
    background-color: #FF7676;
}

@media (max-width: 480px) {
    .popup-info {
        padding: 20px;
    }
}

.popup-info-text {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 18px;
}

.popup-bold-text {
    font-weight: bold;
}

.popup-inner {
    padding: 40px;
}

@media (max-width: 480px) {
    .popup-inner {
        padding: 20px;
        padding-top: 80px;
    }

    .popup-info~.popup-inner {
        padding-top: 20px;
    }
}

.popup-header {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 40px;
    text-align: center;
}

.popup-tb-logo-container {
    max-height: 50px;
    text-align: center;
}

.popup-tb-logo {
    height: 100%;
}

.popup-reg-text-container {
    margin-top: 30px;
}

.popup-reg-text {
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 18px;
    color: #000000;
    opacity: 0.56;
}

.popup-form {
    display: flex;
    flex-flow: row wrap;
}

.popup-form input {
    flex: 1 100%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

}

.popup-form input:not([type="submit"]) {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 0;
    margin-top: 15px;
    opacity: .5;
    transition: opacity .2s ease-in-out;
}

.popup-form input:not([type="submit"]):hover,
.popup-form input:not([type="submit"]):focus {
    opacity: 1;
}

.popup-form input[type="submit"] {
    cursor: pointer;
    padding: 15px 0;
    margin-top: 20px;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    background-color: #ffffff;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}


.popup-form input[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
}

.popup-resend-container {
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.popup-resend-btn {
    width: 50%;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 18px;
    text-decoration-line: underline;
    color: #377BB5;
}

.popup-resend-timer-container {
    width: 50%;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 18px;
    text-align: right;
    color: #377BB5;
}

.popup-forget-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 110px;
}

.popup-forget-btn {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #377BB5;
    text-decoration: none;
}

.popup-socials-container {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
}

.popup-socials-header {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #000000;
    flex: 1 100%;
}

.popup-socials-logo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 100%;
    margin-top: 10px;
}

.popup-social {
    width: 36px;
    height: 36px;
    margin: 0 5px;
}

.popup-vk {
    background: url('./assets/vk.svg') center/cover no-repeat;
}

.popup-fb {
    background: url('./assets/fb.svg') center/cover no-repeat;
}

.popup-reg-container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 110px;
}

.popup-reg-btn {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #377BB5;
    text-decoration: none;
}